<ion-content color="dark">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
  
        <form [formGroup]="formulario">
          <div padding>
            <ion-item margin-bottom>
              <ion-input
                type="text"
                placeholder="Nome"
                formControlName="nome"
              ></ion-input>
            </ion-item>

            <ion-item margin-bottom>
              <ion-input
                type="email"
                placeholder="Email"
                formControlName="email"
              ></ion-input>
            </ion-item>

            <div style="display: flex; justify-content: start; align-items: center;">
              <ion-item margin-bottom style="width: 30%; margin-right: 5%;">
                <ion-input
                  type="number"
                  placeholder="Idade"
                  maxlength="3"
                  formControlName="idade"
                ></ion-input>
              </ion-item>

              <ion-item margin-bottom style="width: 65%;">
                <ion-select formControlName="sexo" placeholder="Sexo" interface="popover" style="width: 100%; max-width: 100%;">
                  <ion-select-option value="0">Feminino</ion-select-option>
                  <ion-select-option value="1">Masculino</ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <div style="display: flex; justify-content: start; align-items: center;">
              <ion-item margin-bottom style="width: 30%; margin-right: 5%;">
                <ion-input
                  type="number"
                  placeholder="Altura"
                  maxlength="3"
                  formControlName="altura"
                ></ion-input>
              </ion-item>
  
              <ion-item margin-bottom style="width: 30%; margin-right: 5%;">
                <ion-input
                  type="number"
                  placeholder="P. Atual"
                  maxlength="3"
                  formControlName="pesoCorporal"
                ></ion-input>
              </ion-item>
  
              <ion-item margin-bottom style="width: 30%">
                <ion-input
                  type="number"
                  placeholder="P. Alvo"
                  maxlength="3"
                  formControlName="pesoAlvo"
                ></ion-input>
              </ion-item>
            </div>

            <ion-item margin-bottom>
              <ion-select formControlName="perfilId" placeholder="Perfil" interface="popover" style="width: 100%; max-width: 100%;">
                <ion-select-option value="5e2a3dcafb4a7c327c8f9b72">Aluno</ion-select-option>
                <ion-select-option value="5e29eb3ea1274a436041325b">Professor</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item margin-bottom>
              <ion-select formControlName="objetivo" placeholder="Objetivo" interface="popover" style="width: 100%; max-width: 100%;">
                <ion-select-option value="0">Emagrecer</ion-select-option>
                <ion-select-option value="2">Manter o Peso</ion-select-option>
                <ion-select-option value="1">Ganhar Massa Muscular</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item margin-bottom>
              <ion-select formControlName="nivelAtividade" placeholder="Atividade" interface="action-sheet" style="width: 100%; max-width: 100%;">
                <ion-select-option value="1">Pouco ou nenhum exercício</ion-select-option>
                <ion-select-option value="2">Pouco Exercício (1-3 dias por semana)</ion-select-option>
                <ion-select-option value="3">Exercício Moderado</ion-select-option>
                <ion-select-option value="4">Exercício Intenso</ion-select-option>
                <ion-select-option value="5">Exercício Muito Intenso (2x dias por semana)</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item margin-bottom>
              <ion-input
                type="text"
                placeholder="login"
                formControlName="login"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                type="password"
                placeholder="Senha"
                formControlName="senha"
              ></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button (click)="prosseguir()" expand="block" color="primary"
              >Cadastrar</ion-button
            >
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
