<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button button [routerLink]="['Add']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button button [routerLink]="['Add']">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item button [routerLink]="['1']">
          <ion-label>A - Pokémon Yellow</ion-label>
        </ion-item>
        <ion-item button [routerLink]="['2']">
          <ion-label>B - Mega Man X</ion-label>
        </ion-item>
        <ion-item button [routerLink]="['3']">
          <ion-label>C - The Legend of Zelda</ion-label>
        </ion-item>
        <ion-item button [routerLink]="['4']">
          <ion-label>D - Pac-Man</ion-label>
        </ion-item>
        <ion-item button [routerLink]="['5']">
          <ion-label>E - Super Mario World</ion-label>
        </ion-item>
      </ion-list>

</ion-content>
