<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button button [routerLink]="['Add']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-template #empty>
      <ion-item>
        <ion-label text-center>
          Não existe nenhuma séria cadastrada
        </ion-label>
      </ion-item>
    </ng-template>

    <ng-container *ngIf="series.length > 0 else empty" >
      <ion-item button [routerLink]="[item.ficha.id]" *ngFor="let item of series" >
        <!-- <ion-icon name="finger-print" slot="start" [color]="item.isprof ? 'primary' : 'secondary'"></ion-icon> -->
        <ion-label>
          <ion-text color="primary" float-left>
            <h3>{{ item.ficha.tipoDescricao}}</h3>
          </ion-text>

          <ion-text color="primary" float-right>
            <h3>{{item.ficha.dataCriacao | date:'dd/MM/yyyy'}}</h3>
          </ion-text>
        </ion-label>
        
        <ion-label class="ion-text-wrap" slot="start">

          <ion-text float-left>
            <p>{{ item.ficha.descricao }}</p>
            <p>Exercícios: {{item.ficha.exercicios.length}} </p>
          </ion-text>

          <!-- <ion-text>
            <br>
            <p>Exercícios: {{item.ficha.exercicios.length}} </p>
          </ion-text> -->
        </ion-label>
      </ion-item>

    </ng-container>
  </ion-list>

</ion-content>
