// $white-color: #fff;
// $height100: 100%;

ion-grid {
    margin-top: 25%;
    margin-bottom: 25%;
}

ion-input {
    text-align: center;
}

.text-login {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

// ion-row {
//     height: $height100;
// }

// ion-col {
//     border: 1px solid #488aff;
//     background: $white-color;
// }

// ion-button {
//     font-weight: 300;
// }

// @media (min-width: 240px) and (max-width: 768px) {
//     ion-grid {
//         background: $white-color;
//     }
//     ion-col {
//         border: none;
//     }
// }