<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary" slot="start">
      <ion-back-button defaultHref="/Amigos"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Amigo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Searchbar in a Toolbar -->
<ion-toolbar>
  <ion-searchbar 
  animated 
  placeholder="Buscar pelo código" 
  debounce="1000" 
  showCancelButton="always"
  (ionChange)="buscar($event)"
  ></ion-searchbar>
</ion-toolbar>

  <ion-list>

    <ng-template #empty>
      <ion-item>
        <ion-label text-center>
          Não existe nenhum usuário para exibir
        </ion-label>
      </ion-item>
    </ng-template>

    <ng-container *ngIf="usuarios.length > 0 else empty" >
      <ion-item button (click)="adicionar(item)" *ngFor="let item of usuarios" >
        <ion-icon name="add" slot="start"></ion-icon>
        <ion-label>
          {{item.nome | titlecase}}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>