<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary" slot="start">
      <ion-back-button defaultHref="/Home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Solicitacoes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-template #empty>
      <ion-item>
        <ion-label text-center>
          Não existe nenhuma solicitação para exibir
        </ion-label>
      </ion-item>
    </ng-template>

    <ng-container *ngIf="solicitacoes.length > 0 else empty" >
      <ion-item *ngFor="let item of solicitacoes" >
        <ion-label>
          {{item.nome | titlecase}}
        </ion-label>
        <ion-icon button (click)="acao(item, false)" color="danger" name="close" slot="end"></ion-icon>
        <ion-icon button (click)="acao(item, true)" color="success" name="checkmark" slot="end"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>