<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Amigos
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button button [routerLink]="['Add']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-template #empty>
      <ion-item>
        <ion-label text-center>
          Não existe nenhum usuários adicionado
        </ion-label>
      </ion-item>
    </ng-template>

    <ng-container *ngIf="usuarios.length > 0 else empty" >
      <ion-item button [routerLink]="['../', 'Amigos', item.id]" *ngFor="let item of usuarios" >
        <ion-icon name="finger-print" slot="start" [color]="item.isprof ? 'primary' : 'secondary'"></ion-icon>
        <ion-label>
          {{item.nome | titlecase}}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>