<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Amigos
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button button [routerLink]="['Add']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button [routerLink]="['../', 'Amigos', '1']">
      <ion-label>
        Button Item
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>